<!--  <header class="header">
    <nav>
      <ul>

        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <li><a [routerLink]="/login">Login</a></li>
          <li><a [routerLink]="/register">Register</a></li>
          <li><a *ngIf="isOnDashboard()" [routerLink]="/authors">Authors</a></li>
          <li><a *ngIf="isOnAuthorsPage()" [routerLink]="/dashboard">Dashboard</a></li>
        </ng-container>
  
        <ng-template #loggedIn>
          <li>
            <img
              [src]="userProfilePic"
              alt="Profile"
              class="profile-pic"
              [title]="username"
            />
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ng-template>
      </ul>
    </nav>
  </header> -->