<header>
  <nav class="navbar">
    <div class="navbar-left">
      <a routerLink="/">Home</a>
    </div>
    <div class="navbar-right">
      <!-- Display when logged in -->
      <div *ngIf="isLoggedIn; else notLoggedIn">
        <a routerLink="/create">Create</a>
        <a routerLink="/posts">Posts</a>
        <div class="user-profile">
          <img [src]="userProfilePicture" alt="User Profile" class="profile-img" />
          <span>{{ userName }}</span>
        </div>
        <a (click)="logout()">Logout</a>
      </div>

      <!-- Display when not logged in -->
      <ng-template #notLoggedIn>
        <a (click)="redirectToLogin()">Login</a>
        <a routerLink="/register">Sign Up</a>
      </ng-template>
    </div>
  </nav>
</header>
<div class="author-directory">
    <h2>Rising Authors</h2>
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search authors..." (input)="onSearch()" />
  
    <div class="author-list">
      <div *ngFor="let author of authors" class="author-card">
        <img [src]="author.profilePicture || '104.jpg'" alt="Author Image" class="author-img" />
        <div class="author-info">
          <h3>{{ author.name }}</h3>
          <p>{{ author.bio }}</p>
          <span>{{ author.views }} views</span>
        </div>
      </div>
    </div>
  </div>
  