<div class="container">
  <h1>{{ formStatus }} Post</h1>
  
  <form [formGroup]="postForm" (ngSubmit)="saveContent()">

    
    <div class="form-group">
      <label for="title">Post Title</label>
      <input type="text" id="title" formControlName="title" placeholder="Enter post title" />
      <div *ngIf="fc['title'].invalid && fc['title'].touched" class="error">
        Title is required and must be at least 10 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="postImg">Post Image</label>
      <input type="file" id="postImg" (change)="showPreview($event)" />
      <img [src]="imgSrc" alt="Post Image Preview" class="img-preview" />
      <div *ngIf="fc['postImg'].invalid && fc['postImg'].touched" class="error">
        Post image is required.
      </div>
    </div>

    <div class="form-group">
      <label for="isEditorsPick">Editor's Pick</label>
      <select id="isEditorsPick" formControlName="isEditorsPick">
        <option value="">Select</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <div *ngIf="fc['isEditorsPick'].invalid && fc['isEditorsPick'].touched" class="error">
        Please select an option.
      </div>
    </div>

    <div class="form-group">
      <label for="isFeatured">Featured Post</label>
      <select id="isFeatured" formControlName="isFeatured">
        <option value="">Select</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <div *ngIf="fc['isFeatured'].invalid && fc['isFeatured'].touched" class="error">
        Please select an option.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Post Description</label>
      <quill-editor
        [(ngModel)]="editorContent"
        (onContentChanged)="onContentChange($event)"
        [modules]="quillConfig"
        formControlName="description"
      ></quill-editor>
      <div *ngIf="fc['description'].invalid && fc['description'].touched" class="error">
        Description is required.
      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn-submit">
        Save Post
      </button>
      <button (click)="navigateToPost()" class="btn-back">Back to Posts</button>
    </div>
</form>
</div>
